# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#IDE metadata
**.idea/**

Tablut/JavaDoc/*
Tablut/Executables/*
Tablut/bin/*
Tablut/garbage/*
Tablut/logs/*
Tablut/build/*
Tablut/jars/BrAInmates.jar
Tablut/jars/logs/_white_ai_vs_black_ai_1620747561871_gameLog.txt
Tablut/jars/FrittoMisto.jar
